<!DOCTYPE html>
<html>
  <head>
    <title>Bug Library</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <style>
      
       .h2title {background-color:rgb(21, 21, 21); margin-top:5px}
      
    </style>
    <p class="notice" style="color:lightgreen"><%= notice %></p>
    <p class="alert" style="color:red"><%= alert %></p>
    <div>
      <h2><%= link_to "Bug Library", root_path %>
      <% if user_signed_in? %>
      <%= link_to "Create Report", new_bug_report_path %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %></h2>
      
      </div>
    <% if user_signed_in? %>
    <p> <%= link_to "Profile Settings", edit_user_registration_path %></p> 
    <p>Logged in as: <%= current_user.email %> </p>
      <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    
    <% end %>
    <%= yield %>
  </body>
</html>
